/**
 * @file
 * Styling for block_place module regions and buttons during block placement.
 */

.block-place-region {
  margin: 1em 0;
  padding: 5px;
  text-align: center;
  outline: 1px dashed rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
  text-shadow: none;
}

.block-place-region a.block-place-button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-block: 18px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  align-items: center;
  background: url(/core/misc/icons/bebebe/plus.svg) #fff center center / 16px 16px no-repeat;
  font-size: 1rem;
  line-height: normal;
}

.block-place-region:hover a.block-place-button,
.block-place-region:focus a.block-place-button {
  background-image: url(/core/misc/icons/787878/plus.svg);
}

.block-place-region .ajax-progress {
  position: relative;
  top: -10px;
  right: 26px; /* LTR */
  overflow: visible;
  width: 0;
  height: 0;
  padding: 0;
}

[dir="rtl"] .block-place-region .ajax-progress {
  right: inherit;
  left: 26px;
  float: inherit;
}

.block-place-region .ajax-progress-throbber .throbber {
  display: block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 100px;
  background-color: #fff;
  background-position: center 6px;
}
